[package]
name = "pco_cli"
version = "0.0.0-alpha.0"
edition = "2018"

authors = ["mwlon <m.w.loncaric@gmail.com>"]
categories = ["compression", "encoding", "command-line-utilities"]
description = "compresses, inspects, and decompres pco data"
include = ["src/**/*.rs", "Cargo.toml", "README.md"]
keywords = ["compression", "numerical", "delta"]
license = "Apache-2.0"
repository = "https://github.com/mwlon/pcodec"

[[bin]]
name = "pcodec"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.53"
arrow = {version = "9.0.2", features = ["csv"], default-features=false}
parquet = {version = "9.0.2", features = ["arrow", "base64", "snap", "zstd"], default-features=false}
structopt = "0.3.26"
pco = {version = "0.0.0-alpha.0", path = "../pco" }

[dev-dependencies]
enum-iterator = "0.7.0"
